In [2]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('switrs.sqlite')

In [3]:

# Consultar las tablas en la base de datos
consulta_tablas = "SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;"


# Mostrar las entidades
print("Entidades en la base de datos:")
entidades = pd.read_sql_query(sql = consulta_tablas, con = conn)
entidades

Entidades en la base de datos:

         name
0    case_ids
1  collisions
2     parties
3     victims